
.App{
    margin: 0 1rem;
}


header{
    padding: 1rem;
    background-color: var(--primary-purple);
}

h1{
    font-size: 1.5rem;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav-link.active{
    color: var(--primary-pink);
   border-bottom: 2px solid var(--primary-pink);
}


.home{
    padding: 1rem;
}

.card{
    margin: 1rem 0;
    background-color: white;
    border-radius: 8px;
    padding: 0.6rem;
    color: black;
}


.feedback-form .title{
    font-size: 1rem;
    font-weight: 500;
}

.feedback-form .ratings-container{
    margin: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-form .circle{
    cursor: pointer;
    border: 2px solid #333;
    width: 34px;
    height: 34px;
    background-color: rgb(243, 236, 236);
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-form .selected{
    border: 2px solid var(--primary-pink);
    background-color: var(--secondary-pink);
    color: white;
}

.feedback-form .circle:hover{
    border: 2px solid var(--primary-pink);
    background-color: var(--secondary-pink);
    color: white;
}

.form-control{
    margin: 1rem 0.6rem;
    border: 1px solid var(--primary-purple);
    border-radius: 4px;
    height: 48px;
    padding: 0.4rem 0.6rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr;
}

.form-control input{
    outline: none;
    border: none;
}

.send-btn{
    border-radius: 4px;
    background-color: var(--secondary-purple);
    color: white;
}

.send-btn:hover{
    border: 2px solid var(--secondary-purple);
    border-radius: 4px;
    background-color: white;
    color: var(--secondary-purple);
}


.feedback-list .title{
    margin: 0.4rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.feedback{
    padding: 0.8rem;
    position: relative;
    font-size: 0.9rem;
}

.feedback .rating{
    position: absolute;
    top: -18px;
    left: -20px;
    width: 36px;
    height: 36px;
    border: 2px solid var(--primary-pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-pink);
    color: white;
}

.feedback .review{
    margin-left: 1rem;
    text-align: left;
}

.feedback .btns-container{
    position: absolute;
    top: -5px;
    right: 8px;
}

.fa{
    margin-left: 0.4rem;
    cursor: pointer;
    font-size: 0.9rem;
}


.about{
    padding: 1rem;
}

.about .title{
    font-size: 1rem;
    font-weight: 500;
}

.about p{
    margin: 0.8rem 0;
    font-size: 0.9rem;
    text-align: center;
}



.page-not-found .title{
    font-size: 1rem;
    font-weight: 500;
}

.page-not-found p{
    margin: 0.8rem 0;
    font-size: 0.9rem;
    text-align: center;
}



main{
    margin: auto;
    max-width: 620px;
}